<ion-view title="Map">

<!--  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
  
  <ion-nav-buttons side="right">
    <button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>
  </ion-nav-buttons>-->

  

  <ion-content data-tap-disabled="true">
    
    <leaflet id="myMap"
             layers="layers" 
             center="event.center" 
             markers="markers"
             event-broadcast="lfevents"
             data-tap-disabled="true" 
             ng-if="event.$resolved">      
    </leaflet>
    
    <button ng-click="createLogPoint()">Check Location</button>

    <p>Active Marker Test: {{active_marker}}</p>
    
  </ion-content>

</ion-view>
